<div class="main-area">
    <div class="container py-3 my-3"
        style="background-color: white; border-radius: 5px; height: 70vh; min-height: 500px; margin-top: 1%;">
        <div class="d-flex justify-content-between align-items-center" style="padding: 0 12px;">
            <p class="" style="font-weight: 600; font-size: 1.2rem; color: #232360; margin-bottom: 0;">Test
                plan</p>
            <div class="dropdown-open" style="background-color: #F1F1F1; border-radius: 5px;">
                <button class="btn" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" style="background-color: #F1F1F1; border: none; color: #969696;">
                    <span style="padding-right: 30px;">Search by release</span>
                    <i class="bi bi-caret-down-fill" style="opacity: 100%;"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="triggerId">
                    {{#each releases}}
                    <button class="dropdown-item" href="#">{{name}}</button>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="table-responsive px-5 mt-4">
            <table class="table">
                <thead class="fs-6">
                    <th class="plan-code-col" scope="col">Plan's Code</th>
                    <th class="test-plan-name-col" scope="col">Plan's Name</th>
                    <th class="test-description-col" scope="col">Description</th>
                    <th class="release-col" scope="col">Release</th>
                    <th scope="col">Action</th>
                </thead>
                <tbody class="fs-6">
                    {{#each testPlans}}
                    <tr>
                        <td class="test-plan-code">{{this.code}}</td>
                        <td class="test-plan-name">{{this.name}}</td>
                        <td class="test-plan-description">{{this.description}}</td>
                        <td class="release" data-release-id="{{release_id}}">{{this.release}}</td>
                        <td style="font-weight: 600;">
                            <i class="bi bi-eye hover-icon" style="margin-right: 20px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Detail"></i>
                            <i class="bi bi-pencil hover-icon text-success" style="margin-right: 20px;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit testplan"></i>
                            <i class="bi bi-trash hover-icon text-danger" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Delete testplan"></i>
                        </td>
                    </tr>
                    {{/each}}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{{!-- Create Testplan Modal --}}

{{#block "modal"}}
<div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content align-items-center"
            style="color: #232360; font-weight: 900; padding: 0 6%; background-color: #F3F4F8;">
            <div class="modal-header" style="border-bottom: none;">
                <p class="modal-title fs-3" id="modalTitleId">
                    Add New Test Plan
                </p>
            </div>
            <div class="modal-body" style="border-bottom: none; width: 100%;">
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="test-plan-name">
                            Plan's Name <span style="color: #F0270C;">*</span> :
                        </label>
                        <input id="test-plan-name" type="text" name="test-plan-name" class="form-control"
                            placeholder="Test Plan's name">
                    </div>
                    <div class="col-4 offset-1">
                        <label for="release">
                            Release <span style="color: #F0270C;">*</span> :
                        </label>
                        <select id="release" name="release" class="form-select" aria-label="Default select example"
                            required>
                            {{#each releases}}
                            <option value="{{release_id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div>
                        <lable for="description">
                            Description <span style="color: #F0270C;">*</span> :
                        </lable>
                        <textarea id="description" name="description" class="form-control" placeholder="Description"
                            rows="4"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-top: none;">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" onclick="onSaveButtonClick()">Save</button>
            </div>
        </div>
    </div>
</div>

{{!-- Edit Testplan Modal --}}
<div class="modal fade" id="edit-test-plan" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true" data-testplan-code="">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content align-items-center"
            style="color: #232360; font-weight: 900; padding: 0 6%; background-color: #F3F4F8;">
            <div class="modal-header" style="border-bottom: none;">
                <p class="modal-title fs-3" id="modalTitleId">
                    Edit Test Plan
                </p>
            </div>
            <div class="modal-body" style="border-bottom: none; width: 100%;">
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="test-plan-name">
                            Plan's Name <span style="color: #F0270C;">*</span> :
                        </label>
                        <input id="test-plan-name" type="text" name="test-plan-name" class="form-control"
                            placeholder="Test Plan's name">
                    </div>
                    <div class="col-4 offset-1">
                        <label for="release">
                            Release <span style="color: #F0270C;">*</span> :
                        </label>
                        <select id="release" name="release" class="form-select" aria-label="Default select example"
                            required>
                            {{#each releases}}
                            <option value="{{release_id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div>
                        <lable for="description">
                            Description <span style="color: #F0270C;">*</span> :
                        </lable>
                        <textarea id="test-plan-description" name="description" class="form-control" placeholder="Description"
                            rows="4"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-top: none;">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary edit-test-plan-save-btn">Save</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete Testplan Confirm Modal --}}
<div class="modal fade" id="delete-test-plan" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true" data-testplan-code="">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content align-items-center"
            style="color: #232360; font-weight: 900; padding: 0 6%; background-color: #F3F4F8;">
            <div class="modal-header">
                <p class="modal-title fs-3" id="modalTitleId">
                    Delete Test Plan
                </p>
            </div>
            <div class="modal-body">
                <h3>
                    Are you sure you want to delete this test plan?
                </h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-danger delete-test-plan-btn">Delete</button>
            </div>
        </div>
    </div>
</div>

{{!-- Show Testplan Modal --}}
<div class="modal fade" id="show-test-plan" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true" data-testplan-code="">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content align-items-center"
            style="color: #232360; font-weight: 900; padding: 0 6%; background-color: #F3F4F8;">
            <div class="modal-header" style="border-bottom: none;">
                <p class="modal-title fs-3" id="modalTitleId">
                    View Test Plan
                </p>
            </div>
            <div class="modal-body" style="border-bottom: none; width: 100%;">
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="test-plan-name">
                            Plan's Name:
                        </label>
                        <input id="test-plan-name" type="text" name="test-plan-name" class="form-control"
                            placeholder="Test Plan's name" disabled>
                    </div>
                    <div class="col-4 offset-1">
                        <label for="release">
                            Release:
                        </label>
                        <select id="release" name="release" class="form-select" aria-label="Default select example"
                            disabled>
                            {{#each releases}}
                            <option value="{{release_id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div>
                        <lable for="description">
                            Description:
                        </lable>
                        <textarea id="test-plan-description" name="description" class="form-control" placeholder="Description"
                            rows="4" disabled></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-top: none;">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary edit-test-plan-save-btn">Save</button>
            </div>
        </div>
    </div>
</div>

{{/block}}

{{!-- Additional button in view --}}

{{#block "additional-button"}}
<button
    style="background-color: #50DF89; padding: 10px; font-weight: 600; font-size: 1.2rem; border: none; border-radius: 10px;  color: #23235F;"
    data-bs-toggle="modal" data-bs-target="#modalId">
    <i class="bi bi-plus-circle"></i>
    <span class="btn-text"> Add Plan </span>
</button>
{{/block}}

{{!-- Additional Scripts --}}

{{#block "script"}}
<script src="/js/addTestplanModal.js"></script>
<script src="/js/testplanActionBtn.js"></script>
{{/block}}